html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  outline: none;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  font: inherit;
  color: inherit;
  outline: none;
}

input {
  color: inherit;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  -webkit-appearance: none;
}

input::-webkit-inner-spin-button,
input::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

select {
  outline: none;
  border: none;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: inherit;
}

@font-face {
  font-family: "LeksaSansPro-Bold";
  src: url("/LeksaSansPro-Bold.24322336.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("/Roboto-Regular.3e3cc457.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("/Roboto-Medium.a31300ff.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("/Roboto-Bold.05b33a96.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
.container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav {
  min-width: 100%;
  min-height: 90px;
  display: flex;
  background: url("/nav-bg.d5a533da.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: center;
}
.nav__wrap {
  width: 100%;
  max-width: 1286px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "LeksaSansPro-Bold", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  .nav__wrap {
    padding: 0 5px;
  }
}
.nav__item {
  color: #fff;
  border-left: solid 2px rgba(255, 255, 255, 0.1);
  border-top: solid 2px rgba(255, 255, 255, 0.1);
  border-bottom: solid 2px rgba(255, 255, 255, 0.1);
  padding: 13px 20px;
  border-radius: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 600ms, background 600ms;
}
@media (max-width: 830px) {
  .nav__item {
    border: none;
    padding: 0;
  }
}
@media (max-width: 600px) {
  .nav__item {
    font-size: 14px;
  }
}
.nav__item:hover {
  cursor: pointer;
  background: rgba(29, 28, 40, 0.5);
  color: #d094f8;
  opacity: 0.8;
}
@media (max-width: 830px) {
  .nav__item:hover {
    border: none;
    background: none;
  }
}
.nav__item--back {
  padding-right: 40px;
}
@media (max-width: 830px) {
  .nav__item--back {
    padding-right: 0;
  }
}
.nav__item--back::before {
  content: "";
  min-width: 38px;
  min-height: 28px;
  background-image: url("/nav-back.c0dc0249.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
}
@media (max-width: 830px) {
  .nav__item--back::before {
    margin-right: 0;
  }
}
.nav__item--top {
  border: none;
  margin-left: 44px;
}
@media (max-width: 830px) {
  .nav__item--top {
    margin-left: 60px;
  }
}
@media (max-width: 650px) {
  .nav__item--top {
    margin-left: 40px;
  }
}
@media (max-width: 400px) {
  .nav__item--top {
    margin-left: 10px;
  }
}
.nav__item--top:hover {
  background: none;
  color: inherit;
  opacity: 100;
}
.nav__item--home {
  border-right: solid 2px rgba(255, 255, 255, 0.1);
  border-left: none;
  padding-right: 30px;
}
@media (max-width: 830px) {
  .nav__item--home {
    padding-right: 0;
    border: none;
  }
}
.nav__item--home::before {
  content: "";
  min-width: 38px;
  min-height: 28px;
  background-image: url("/nav-home.c1a0015a.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
}
@media (max-width: 830px) {
  .nav__item--home::before {
    margin-right: 0;
  }
}
@media (max-width: 600px) {
  .nav__item--text {
    display: none;
  }
}

.balance {
  display: flex;
  justify-content: center;
  min-width: max-content;
}
.balance__item {
  min-width: 162px;
  display: flex;
  align-items: center;
  background: #0D0B0F;
  border-radius: 100px;
  min-width: max-content;
  position: relative;
  margin-right: 30px;
}
@media (max-width: 600px) {
  .balance__item {
    min-width: 110px;
  }
}
@media (max-width: 400px) {
  .balance__item {
    min-width: 100px;
    margin-right: 15px;
  }
}
.balance__item:last-child {
  margin-right: 0;
}
.balance__img {
  max-width: 100%;
  position: absolute;
  left: -40px;
}
@media (max-width: 650px) {
  .balance__img {
    max-width: 60px;
    left: -22px;
  }
}
@media (max-width: 600px) {
  .balance__img {
    width: 30px;
    left: -10px;
  }
}
.balance__stats {
  padding: 0 18px 0 0;
  min-width: 162px;
}
@media (max-width: 600px) {
  .balance__stats {
    min-width: max-content;
    padding-right: 7px;
    padding-left: 32px;
  }
}
@media (max-width: 400px) {
  .balance__stats {
    padding-left: 28px;
  }
}
.balance__stats-title {
  font-size: 18px;
  line-height: 22px;
}
@media (max-width: 600px) {
  .balance__stats-title {
    font-size: 13px;
  }
}
.balance__stats-subtitle {
  font-family: "Roboto-Medium", sans-serif;
  font-size: 10px;
  text-transform: none;
  color: #B9B7EA;
  line-height: 12px;
  letter-spacing: 1px;
  opacity: 0.9;
  padding-bottom: 4px;
}
@media (max-width: 600px) {
  .balance__stats-subtitle {
    display: none;
  }
}
.balance__add {
  transition: opacity 600ms;
  position: absolute;
  right: 20px;
}
@media (max-width: 600px) {
  .balance__add {
    max-width: 20px;
    right: 5px;
  }
}
.balance__add:hover {
  opacity: 0.8;
}

.content {
  background: url("/content-bg.0ef725dc.jpg");
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 10px;
}
.content__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1020px) {
  .content__menu {
    justify-content: flex-start;
  }
}
@media (max-width: 576px) {
  .content__menu {
    justify-content: space-between;
  }
}
.content__menu-item {
  margin-right: 10px;
  font-family: "LeksaSansPro-Bold", sans-serif;
  font-size: 20px;
  line-height: 25px;
  color: #5C5A7B;
  background: #212031;
  min-width: 188px;
  min-height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 4px transparent;
  border-radius: 10px 10px 0px 0px;
  padding-top: 4px;
  transition: color 600ms, background 600ms, border 600ms;
}
@media (max-width: 1020px) {
  .content__menu-item {
    min-width: max-content;
    padding: 0 28px;
  }
}
@media (max-width: 876px) {
  .content__menu-item {
    padding: 0 16px;
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .content__menu-item {
    padding: 0 10px;
    margin-right: 4px;
  }
}
@media (max-width: 644px) {
  .content__menu-item {
    padding: 0 10px;
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .content__menu-item {
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    word-wrap: break-word;
    width: 100%;
    min-width: initial;
    padding: 0 5px;
    margin: 0;
    border-radius: 0;
  }
}
@media (max-width: 408px) {
  .content__menu-item {
    word-break: break-all;
  }
}
.content__menu-item:hover {
  background: #272737;
  color: #fff;
  cursor: pointer;
}
.content__menu-item:last-child {
  margin-right: 0;
}
.content__menu-item--active {
  color: #fff;
  background: #272737;
  border-bottom: 4px solid;
  border-image-source: linear-gradient(90deg, #F52CBF 0%, #FF7C46 100%);
  border-image-slice: 1;
  transition: color 600ms, background 600ms, border 600ms;
  cursor: pointer;
}
.content__cards {
  background: #242333;
  min-height: 500px;
  padding: 0 24px 20px;
  margin-bottom: 85px;
}
@media (max-width: 1020px) {
  .content__cards {
    border-radius: 0 10px 0 0;
  }
}
@media (max-width: 768px) {
  .content__cards {
    margin-bottom: 30px;
  }
}
@media (max-width: 600px) {
  .content__cards {
    border-radius: 0;
  }
}
.content__title {
  font-family: "LeksaSansPro-Bold", sans-serif;
  font-size: 30px;
  text-align: center;
  padding: 24px 0;
}
.content__title--line {
  border-top: 1px solid rgba(151, 148, 198, 0.1);
  margin-top: 30px;
}
.content__cards-wrap {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1015px) {
  .content__cards-wrap {
    justify-content: center;
  }
}

.card {
  color: #fff;
  min-width: 217px;
  min-height: 290px;
  max-height: 290px;
  border-radius: 18px;
  background: url("/card-crystal-bg.38f696af.png");
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
  margin-right: 20px;
  margin-bottom: 20px;
}
.card:last-child {
  margin-bottom: 0;
}
.card:nth-child(4n) {
  margin-right: 0;
}
@media (max-width: 1015px) {
  .card:nth-child(4n) {
    margin-right: 20px;
  }
  .card:nth-child(3n) {
    margin-right: 0;
  }
}
@media (max-width: 778px) {
  .card:nth-child(4n) {
    margin-right: 20px;
  }
  .card:nth-child(3n) {
    margin-right: 20px;
  }
  .card:nth-child(2n) {
    margin-right: 0;
  }
}
@media (max-width: 778px) and (max-width: 541px) {
  .card {
    margin-left: 20px;
    margin-right: 20px;
  }
  .card:nth-child(2n) {
    margin-left: 20px;
    margin-right: 20px;
  }
  .card:nth-child(3n) {
    margin-left: 20px;
    margin-right: 20px;
  }
  .card:nth-child(4n) {
    margin-left: 20px;
    margin-right: 20px;
  }
}
.card__img {
  max-width: 100%;
}
.card__title {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
}
.card__title--mt {
  margin-top: 15px;
}
.card__subtitle {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  padding-top: 12px;
  letter-spacing: 1px;
}

.card-label {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 1px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 28px;
  position: absolute;
  left: -32px;
  top: 16px;
  background-image: linear-gradient(to right top, #de2c18, #e63317, #ef3b15, #f74213, #ff4910);
  transform: rotate(-41deg);
}
.card-label::before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 2px;
  background: url("/card-crystal-label-before.ca4685ea.png");
  background-size: contain;
  background-position: center;
}

.button-crystal {
  display: flex;
  justify-content: space-between;
  min-width: 154px;
  padding: 15px 20px;
  margin: 25px 0 15px 0;
  background: linear-gradient(90deg, #242333 0%, #3C3B53 100%);
  border-radius: 140px;
  border-left: solid 2px #692fbd;
  border-top: solid 2px #8136bc;
  border-right: solid 2px rgba(175, 124, 169, 0.6);
  border-bottom: solid 2px rgba(167, 65, 188, 0.6);
  transition: background 600ms;
}
.button-crystal:hover {
  background: rgba(167, 65, 188, 0.1);
  cursor: pointer;
}
.button-crystal__text {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
}
.button-crystal__amount {
  font-family: "Roboto-Medium", sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  position: relative;
}
.button-crystal__amount::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 15px;
  position: absolute;
  right: 22px;
  top: -1px;
  background: url("/card-crystal-dollar.0471dfb9.svg");
  background-size: contain;
  background-position: center;
}

.button-coin {
  display: flex;
  justify-content: space-between;
  min-width: 154px;
  padding: 15px 20px;
  margin: 25px 0 15px 0;
  background: linear-gradient(90deg, #242333 0%, #3C3B53 100%);
  border-radius: 140px;
  border-left: solid 2px #692fbd;
  border-top: solid 2px #8136bc;
  border-right: solid 2px rgba(175, 124, 169, 0.6);
  border-bottom: solid 2px rgba(167, 65, 188, 0.6);
  transition: background 600ms;
}
.button-coin:hover {
  background: rgba(167, 65, 188, 0.1);
  cursor: pointer;
}
.button-coin__text {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
}
.button-coin__amount {
  font-family: "Roboto-Medium", sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  position: relative;
}
.button-coin__amount::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  position: absolute;
  right: 22px;
  top: -6px;
  background: url("/card-coin-label-before.45899b55.png");
  background-size: contain;
  background-position: center;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #16151f;
  color: #fff;
}

/*# sourceMappingURL=/main.54166fbf.css.map */