@use './reset';
@use './fonts';
@use './vars' as *;

@use './blocks/container';
@use './blocks/nav';
@use './blocks/balance';
@use './blocks/content';
@use './blocks/card';
@use './blocks/card-label';
@use './blocks/button-crystal';
@use './blocks/button-coin';

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: $bgColorBody;
  color: $colorBody;
}
